In [3]:
import os
from langchain.agents import create_sql_agent
from langchain.sql_database import SQLDatabase
from langchain_google_genai import ChatGoogleGenerativeAI
import mysql.connector

db_uri = "mysql+mysqlconnector://root:admin12@127.0.0.1/Pizza_Sales_DB" 
GEMINI_API_KEY = "AIzaSyD2rfiBS0AEdPq_nIHEKk6pubDbsVgQQRw"

try:
    db = SQLDatabase.from_uri(db_uri)
    print(f" Successful connection to the database '{db_uri.split('/')[-1]}'")
except Exception as e:
    print(f" Database connection error: {e}")
    exit()


llm = ChatGoogleGenerativeAI(
    model="gemini-2.5-flash", 
    temperature=0,
    google_api_key=GEMINI_API_KEY 
)
print(" Successful initialization of the Gemini AI model.")

agent_executor = create_sql_agent(
    llm, 
    db=db, 
    agent_type="openai-tools", 
    verbose=True              
)

print("\n--- Launching the AI Agent: Starting Data Analysis ---")

question_1 = "Which branch recorded the highest number of orders last week? "    
              
print(f"\n[QUESTION 1]: {question_1}")

try:
    response_1 = agent_executor.invoke({"input": question_1})
    print(f"--- Agent 1's response ---\n{response_1['output']}")
except Exception as e:
    print(f" Error while executing Question 1: {e}")

print("\n--- Analysis completed. ---")

 Successful connection to the database 'Pizza_Sales_DB'
 Successful initialization of the Gemini AI model.

--- Launching the AI Agent: Starting Data Analysis ---

[QUESTION 1]: Which branch recorded the highest number of orders last week?


> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`
responded:  Finally, I will construct a query to answer the question.

Branches, Customers, Menu_Items, Order_Details, Orders, Staff
Invoking: `sql_db_schema` with `{'table_names': 'Branches, Orders'}`



CREATE TABLE `Branches` (
	`Branch_ID` INTEGER NOT NULL,
	`Branch_Name` VARCHAR(100) NOT NULL,
	`City` VARCHAR(50) NOT NULL,
	PRIMARY KEY (`Branch_ID`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from Branches table:
Branch_ID	Branch_Name	City
1	Branch #1 (Cruzfort)	Cruzfort
2	Branch #2 (Laurenbury)	Laurenbury
3	Branch #3 (New Brandonmouth)	New Brandonmouth
*/


CREATE TABLE `Orders` (
	`Order_ID` INTEGER NOT NULL,
	`Customer_ID` INTEGER,
	`Staff_ID` INTEGER,
	`Order_Date` DATETIME NOT NULL,
	`Delivery_Time_Minutes` INTEGER,
	`Total_Amount` DECIMAL(6, 2) NOT NULL,
	PRIMARY KEY (`Order_ID`),
	CONSTRAINT orders_ibfk_1 FOREIGN KEY(`Customer_ID`) REFERENCES `Customers` (`Customer_ID`),
	CONSTRAINT orders_ibfk_2 FOREIGN KEY(`Staff_ID`) REFERENCES `Staff` (`Staff_ID`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from Orders table:
Order_ID	Customer_ID	Staff_ID	Order_Date	Delivery_Time_Minutes	Total_Amount
1	1281	490	2024-12-14 06:40:22	63	19.08
2	1217	322	2024-12-05 16:12:13	52	121.78
3	1423	155	2025-07-24 05:09:41	59	108.52
*/
Invoking: `sql_db_schema` with `{'table_names': 'Staff'}`
responded: I don't see a direct link between `Orders` and `Branches` tables. The `Orders` table has `Staff_ID`, so I will check the `Staff` table to see if it contains `Branch_ID`.


CREATE TABLE `Staff` (
	`Staff_ID` INTEGER NOT NULL,
	`Branch_ID` INTEGER,
	`Role` VARCHAR(50),
	PRIMARY KEY (`Staff_ID`),
	CONSTRAINT staff_ibfk_1 FOREIGN KEY(`Branch_ID`) REFERENCES `Branches` (`Branch_ID`)
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from Staff table:
Staff_ID	Branch_ID	Role
1	792	Courier
2	509	Cashier
3	711	Cashier
*/
Invoking: `sql_db_query_checker` with `{'query': 'SELECT MAX(Order_Date) FROM Orders'}`


SELECT MAX(Order_Date) FROM Orders
Invoking: `sql_db_query` with `{'query': 'SELECT MAX(Order_Date) FROM Orders'}`


[(datetime.datetime(2025, 11, 23, 3, 43, 5),)]
Invoking: `sql_db_query_checker` with `{'query': "SELECT B.Branch_Name, COUNT(O.Order_ID) AS Number_of_Orders FROM Orders AS O JOIN Staff AS S ON O.Staff_ID = S.Staff_ID JOIN Branches AS B ON S.Branch_ID = B.Branch_ID WHERE O.Order_Date >= '2025-11-16 03:43:05' AND O.Order_Date <= '2025-11-23 03:43:05' GROUP BY B.Branch_Name ORDER BY Number_of_Orders DESC LIMIT 1"}`


```sql
SELECT B.Branch_Name, COUNT(O.Order_ID) AS Number_of_Orders FROM Orders AS O JOIN Staff AS S ON O.Staff_ID = S.Staff_ID JOIN Branches AS B ON S.Branch_ID = B.Branch_ID WHERE O.Order_Date >= '2025-11-16 03:43:05' AND O.Order_Date <= '2025-11-23 03:43:05' GROUP BY B.Branch_Name ORDER BY Number_of_Orders DESC LIMIT 1
```
Invoking: `sql_db_query` with `{'query': "SELECT B.Branch_Name, COUNT(O.Order_ID) AS Number_of_Orders FROM Orders AS O JOIN Staff AS S ON O.Staff_ID = S.Staff_ID JOIN Branches AS B ON S.Branch_ID = B.Branch_ID WHERE O.Order_Date >= '2025-11-16 03:43:05' AND O.Order_Date <= '2025-11-23 03:43:05' GROUP BY B.Branch_Name ORDER BY Number_of_Orders DESC LIMIT 1"}`


[('Branch #985 (Sanchezfurt)', 2)]Branch #985 (Sanchezfurt) recorded the highest number of orders last week with 2 orders.

> Finished chain.
--- Agent 1's response ---
Branch #985 (Sanchezfurt) recorded the highest number of orders last week with 2 orders.

--- Analysis completed. ---